body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #2c3e50;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  color: #e67e22;
}

.hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #2c3e50; /* elegantná tmavomodrá */
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background-color: #e67e22;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #d35400;
}
