:root {
  --primary-color: #2c3e50;   /* tmavomodrá - navigácia */
  --secondary-color: #e67e22; /* oranžová - tlačidlá */
  --text-dark: #222222;       /* tmavý text */
  --text-light: #ffffff;      /* svetlý text */
  --background-light: #f9f9f9;/* svetlé pozadie */
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background-light);
  color: var(--text-dark);
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 15px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  color: #e67e22;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: var(--text-dark); /* tmavý nadpis */
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--text-dark)
}

.btn {
  background-color: var(--secondary-color);
  color: var(--text-light);
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #d35400;
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: var(--primary-color);
}

.logo {
  height: 60px; /* primeraná výška loga */
  width: auto;
}
